<!DOCTYPE html>
<html lang='en'>

<head>
  <meta charset='utf-8'>
  <meta name='viewport' content='width=device-width, initial-scale=1.0'>
  <link rel='shortcut icon' href='img/favicon.png'>
  {% load static %}
  <title>ChatBot Maker</title>

  <script src='https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js'></script>
  <script src='{% static 'jquery.serialize-object.min.js' %}'></script>
  <link href='{% static 'css/bootstrap.min.css'%}' rel='stylesheet'>
  <link href='{% static 'css/bootstrap-theme.css'%}' rel='stylesheet'>
  <link href='{% static 'css/elegant-icons-style.css'%}' rel='stylesheet' />
  <link href='{% static 'css/font-awesome.min.css'%}' rel='stylesheet' />
  <link href='{% static 'css/style.css'%}' rel='stylesheet'>
  <link href='{% static 'css/style-responsive.css'%}' rel='stylesheet' />
  <link href='{% static 'main.css' %}' rel='stylesheet' />
</head>

<body>

  <section id='container' class=''>

    <header class='header dark-bg'>
      <div class="row">
        <div class="col-lg-10">
          <a href='{% url 'get_assistants' %}' class='logo'>Chatbot <span class='lite'>Maker</span></a>
        </div>
        <div class="col-lg-1">
          <a href='#settings' class="logo" style="color:#688a7e; font-size:2rem;">Settings</a>
        </div>
        <div class="col-lg-1">
          <a href='{% url 'login' %}' class="logo" style="color:#688a7e; font-size:2rem;">Logout</a>
        </div>
      </div>
    </header>

    <aside>
      <div id='sidebar' class='nav-collapse '>

        <ul class='sidebar-menu'>
          <li class="active">
            <a class='' href='{% url 'get_assistant' assistant.sid %}'>
                          <span><strong>{{assistant.unique_name}}</strong></span>

                      </a>

          </li>
          <li class=''>
            <a class='' href='{% url 'get_tasks' assistant.sid %}'>

                          <span>Tasks</span>
                      </a>
          </li>
          <li>
            <a class='' href='{% url 'tree' assistant.sid %}'>

                          <span>Dialouge Tree</span>

                      </a>

          </li>
          <li>
            <a class='' href='{% url 'fields' assistant.sid %}'>

                          <span>Fields</span>

                      </a>

          </li>
          <li>
            <a class='' href='{% url 'simulator' assistant.sid %}'>

                          <span>Simulator</span>
                      </a>
          </li>
          <li>
            <a class='' href='{% url 'config' assistant.sid %}'>

                          <span>Config</span>

                      </a>

          </li>


      </div>
    </aside>

    <section id='main-content'>
      <section class='wrapper'>
        <div class='row'>
          <div class='col-lg-10'>
            <h2 class='page-header'>{{assistant.unique_name}}</h2>
          </div>
          <div class='col-lg-2'>
            <button onclick="confirm();" class="btn btn-primary" style="border-color:#d9534f; background-color: #F7F7F7; color:#d9534f; float:right; margin-top:10px;">DELETE</button>
          </div>
          </div>
        </div>
        <div class="row">
          <div class="col-lg-12">
            <ol class='breadcrumb'>
              <li><a href='{% url 'get_assistants' %}'>Dashboard</a></li>
              <li><a href='{% url 'get_assistant' assistant.sid %}'>{{assistant.unique_name}}</a></li>
            </ol>
          </div>
        </div>
        <div class='row'>
          <div class="col-lg-12">
            <div class='row'>
              <div class="col-lg-12">
                <a href="{% url 'get_assistant' assistant.sid %}">
                  <div class="info-box blue-bg hover-card">
                    <div class="count">Build</div>
                    <div class="title">Bot</div>
                  </div>
                </a>
              </div>
            </div>
          </div>
        </div>
</body>
<script>
function confirm(){
  var response = prompt("To Confirm Assistant Deletion, Please Print Chatbot's Unique Name:")
  if(response.toLowerCase() === "{{assistant.unique_name}}".toLowerCase()){
    location.href='{% url 'delete_assistant' assistant.unique_name %}'
  }
}
</script>
</html>
