<!DOCTYPE html>
<html lang='en' dir='ltr'>
  <head>
    <meta charset='utf-8'>
    <title></title>
    {% load static %}
    {% load crispy_forms_tags %}
    <script src='https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js'></script>
    <script src='{% static 'jquery.serialize-object.min.js' %}'></script>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" href="{% static 'main.css' %}">
  </head>
  <body>
    {{my_err}}
    <div id="add-action-menu">
      <button id="add-action">+</button>
      <div id="menu">
       <div id="new-action">say</div>
       <div id="new-action">listen</div>
       <div id="new-action">play</div>
       <div id="new-action">handoff</div>
       <div id="new-action">redirect</div>
      </div>
    </div>
    <form id='actions-form' action='/assistants/{{assistant.sid}}/tasks/{{task.sid}}/edit/' method='POST' name='actions-form'>
      <!-- <label for='action'>action</label>
      <select id='action' name='action'>
        <option value=say>say</option>
        <option value=play>play</option>
        <option value=listen>listen</option>
        <option value=collect>collect</option>
        <option value=handoff>handoff</option>
        <option value=redirect>redirect</option>
        <option value=remember>remember</option>
        <option value=show>show</option>
      </select>
      <div class='inline-form'>
        <legend>Say</legend><button id="action">-</button>
        <label for='speech'>Text</label>
        <input required id='speech' type='text' name='actions[{order}][say][speech]' placeholder='Hello!'/>
      </div>
      <div class='inline-form'>
        <legend>Play</legend><button id="action">-</button>
        <label for='loop'>Loop</label>
        <input type='number' id='loop' name='actions[{order}][play][loop]' placeholder='3'/>
        <label for='url'>URL</label>
        <input required id='url' type='url' name='actions[{order}][play][url]' placeholder='https://www.mysite.com/song.mp3'/>
      </div>
      <div id='listen' class='inline-form'>
        <legend>Listen</legend><button id="action">-</button>
        <label for='tasks'>Tasks</label><button id="add-listen">+</button>
        <input type='text' id='tasks' name='actions[{order}][listen][tasks][]' placeholder='task-1'/>
      </div>
      <div class='inline-form'>
        <legend>Handoff</legend><button id="action">-</button>
        <label for='chanel'>Chanel</label>
        <select required id='chanel' name='actions[{order}][handoff][chanel]'><option>voice</option></select>
        <label for='uri'>TwiML URI</label>
        <input required id='uri' type='url' name='actions[{order}][handoff][uri]' placeholder='TwiML URI'/>
        <label for='method'>Method</label>
        <select id='method' name='actions[{order}][handoff][method]'><option>GET</option><option>POST</option></select>
      </div>
      <div class='inline-form'>
        <legend>Redirect</legend><button id="action">-</button>
        <label for='task'>Task or URL</label>
        <input required id='task' type='text' name='actions[{order}][redirect]' placeholder='task://my-task1 OR https://www.mysite.com/my-redirect/'/>
        <label for='method'>Method</label>
        <select id='method' name='actions[{order}][redirect][method]'><option>GET</option><option>POST</option></select>
      </div> -->
      {{form_elements|safe}}
    </form>
    <button onclick='javascript:createJSON()'>Save</button>
    <div class="result">

    </div>
  </body>
  <script src='{% static 'edit2.js' %}'></script>
</html>
