<!DOCTYPE html>
<html lang='en'>

<head>
  <meta charset='utf-8'>
  <meta name='viewport' content='width=device-width, initial-scale=1.0'>
  <link rel='shortcut icon' href='img/favicon.png'>
  {% load static %}
  <title>ChatBot Maker</title>

  <script src='https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js'></script>
  <script src='{% static 'jquery.serialize-object.min.js' %}'></script>
  <link href='{% static 'css/bootstrap.min.css'%}' rel='stylesheet'>
  <link href='{% static 'css/bootstrap-theme.css'%}' rel='stylesheet'>
  <link href='{% static 'css/elegant-icons-style.css'%}' rel='stylesheet' />
  <link href='{% static 'css/font-awesome.min.css'%}' rel='stylesheet' />
  <link href='{% static 'css/style.css'%}' rel='stylesheet'>
  <link href='{% static 'css/style-responsive.css'%}' rel='stylesheet' />
  <link href='{% static 'main.css' %}' rel='stylesheet' />
</head>

<body>

  <section id='container' class=''>

    <header class='header dark-bg'>
      <div class="row">
        <div class="col-lg-10">
          <a href='{% url 'get_assistants' %}' class='logo'>Chatbot <span class='lite'>Maker</span></a>
        </div>
        <div class="col-lg-1">
          <a href='#settings' class="logo" style="color:#688a7e; font-size:2rem;">Settings</a>
        </div>
        <div class="col-lg-1">
          <a href='{% url 'login' %}' class="logo" style="color:#688a7e; font-size:2rem;">Logout</a>
        </div>
      </div>
    </header>

    <aside>
      <div id='sidebar' class='nav-collapse '>

        <ul class='sidebar-menu'>
          <li>
            <a class='' href='{% url 'get_assistant' assistant.sid %}'>
                          <span><strong>{{assistant.unique_name}}</strong></span>

                      </a>

          </li>
          <li class='active'>
            <a class='' href='{% url 'get_tasks' assistant.sid %}'>

                          <span>Tasks</span>
                      </a>
          </li>
          <li>
            <a class='' href='{% url 'tree' assistant.sid %}'>

                          <span>Dialouge Tree</span>

                      </a>

          </li>
          <li>
            <a class='' href='{% url 'fields' assistant.sid %}'>

                          <span>Fields</span>

                      </a>

          </li>
          <li>
            <a class='' href='{% url 'simulator' assistant.sid %}'>

                          <span>Simulator</span>
                      </a>
          </li>
          <li>
            <a class='' href='{% url 'config' assistant.sid %}'>

                          <span>Config</span>

                      </a>

          </li>


      </div>
    </aside>

    <section id='main-content'>
      <section class='wrapper'>
        <div class='row'>
          <div class='col-lg-10'>
            <h2 class='page-header'>Train Task Recognition with Samples</h2>
          </div>
          <div class='col-lg-2'>
              <button class="btn btn-primary" style="border-color:#688a7e; background-color: #F7F7F7; color:#688a7e; float:right; margin-top:10px;"><strong>+</strong></button>
          </div>
        </div>
        <div class="row">
          <div class="col-lg-12">
            <ol class='breadcrumb'>
              <li><a href='{% url 'get_assistants' %}'>Dashboard</a></li>
              <li><a href='{% url 'get_assistant' assistant.sid %}'>{{assistant.unique_name}}</a></li>
              <li><a href='{% url 'get_task' assistant.sid task.sid %}'>{{task.unique_name}}</a></li>
              <li><a href='{% url 'edit_samples' assistant.sid task.sid %}'>Train</a></li>
            </ol>
          </div>
        </div>
        <div class='row'>
          <div class="col-lg-8">
            <form class="form-horizontal" method="post">
              <div class="row" style="margin:0.5%;">
                <div class="col-lg-10">
                  <div class="form-group">
                    <input type="text" class="form-control" style="border: 1px solid #688a7e;">
                  </div>
                </div>
                <div class="col-lg-1">
                  <button onclick='' class='btn btn-primary' style='border-color:#688a7e; background-color: #F7F7F7; color:#688a7e;'>Add Sample</button>
                </div>
              </div>
            </form>
            <div class="col-lg-12" style="margin-bottom:5%;">
              Tip: Create tags such as {sizes} on the left and use them for dynamic recognition.
            </div>
            {% for sample in samples %}
            <div class="panel">
              <header class="panel-heading">
                <button class='btn btn-primary' style='border-color:#d9534f; background-color: #F7F7F7; color:#d9534f; float:right; line-height:50%; margin-top:7px;'><strong>-</strong></button>
              </header>
              <div class="panel-body">
                {{sample.tagged_text}}
              </div>
          </div>
          {% endfor %}
        </div>
        <div class="col-lg-4">
          <section class="panel">
            <div class="panel-heading">
              <h3>Add Field Tags</h3>
            </div>
            <div class="panel-body">
              <form class="form-horizontal " method="get">
                <div class="form-group">
                  <div class="row" style="padding-left:2%;">
                    <div class="col-lg-6">
                      <select class="form-control m-bot15">
                                            {% for field in fields %}
                                            <option>{{field.unique_name}}</option>
                                            {% endfor %}
                                              <option>Twilio.YES_NO</option>
                                              <option>Twilio.NUMBER</option>
                                              <option>Twilio.PHONE_NUMBER</option>
                                              <option>Twilio.DATE</option>
                                              <option>Twilio.TIME</option>
                                              <option>Twilio.FIRST_NAME</option>
                                              <option>Twilio.LAST_NAME</option>
                                              <option>Twilio.EMAIL</option>
                                              <option>Twilio.MONTH</option>
                                              <option>Twilio.DAY_OF_WEEK</option>
                                              <option>Twilio.US_STATE</option>
                                              <option>Twilio.COUNTRY</option>
                                              <option>Twilio.CITY</option>
                                              <option>Twilio.CURRENCY</option>
                                              <option>Twilio.COUNTRY_ISO_ALPHA2</option>
                                              <option>Twilio.COUNTRY_ISO_ALPHA3</option>
                                              <option>Twilio.LANGUAGE</option>
                                              <option>Twilio.NUMBER_SEQUENCE</option>
                                              <option>Twilio.ALPHANUMERIC</option>

                                          </select>
                    </div>
                    <div class="col-lg-4">
                      <input placeholder="unique name" type="text" class="form-control" style="border: 1px solid #688a7e;">
                    </div>
                    <div class="col-lg-1">
                      <button onclick='' class='btn btn-primary' style='border-color:#688a7e; background-color: #F7F7F7; color:#688a7e;'>+</button>
                    </div>
                  </div>
                </div>
              </form>
              <div class="panel">
                <div class="panel-heading">
                  Field Type: (Field_Type)
                  <button class='btn btn-primary' style='border-color:#d9534f; background-color: #F7F7F7; color:#d9534f; float:right; line-height:50%; margin-top:7px;'><strong>-</strong></button>
                </div>
                <div class="panel-body">
                  Usable Tag: {Tag}
                </div>
              </div>
              <div class="panel">
                <div class="panel-heading">
                  Field Type: TWILIO.NUMERIC
                  <button class='btn btn-primary' style='border-color:#d9534f; background-color: #F7F7F7; color:#d9534f; float:right; line-height:50%; margin-top:7px;'><strong>-</strong></button>
                </div>
                <div class="panel-body">
                  Usable Tag: {unique_name}
                </div>
              </div>
            </div>
          </section>
        </div>
      </div>
</body>
</html>
